body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  
}

.background-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind the content */
  background-image: url('assets/pictures/monopoly_bg2.jpg'); /* Replace 'path-to-your-image.jpg' with the actual path to your background image */
  background-size: cover;
  background-position: center;
  opacity: .50; /* Adjust the opacity as needed */
  filter: blur(10px); /* Adjust the blur amount as needed */
}

img {
  max-width: 100%;
  margin: 10px 45px;
}
.monopoly-credits {
  align-items: center;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;

}

h1 {
  text-align: center;
}

.conversion {
  display: block;
  justify-content: space-between;
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button#convert-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  flex: 1; /* Allow the "Convert" button to grow to take available space */
}

button#clear-button {
  background-color: rgb(246, 74, 74); /* Change the color as needed */
  color: #fff;
  padding: 10px 15px;
  border: none;
  margin-left: 64%;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 5px;
  flex: 0; /* Prevent the "Clear" button from growing */
}


.clear-button {
  margin: 10px 0;
}

.result {
  text-align: center;
  font-size: 18px;
}

#converted-amount {
  font-weight: bold;
}

.disclaimer {
  text-align: justify;
  max-width: 400px;
  font-size: 14px;
  margin: 20px auto;
  padding: 20px;
  padding-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;

  
}

.h2center {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #f5f5f5;
  margin: 10px auto;
  text-align: center;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

a {
  color: #007bff; /* Change link color to white */
  text-decoration: none; /* Remove underlines from links */
}

a:hover {
  font-weight: 600; /* Add underline on hover */
}

a:visited {
  color: #085db8; /* Change visited link color to white */
}

a:active {
  color: #007bff; /* Change active link color to white */
}




.divider::before {
  content: " | ";
  color: #999;
}

/* Use media queries to adjust styles for smaller screens */
@media(max-width: 768px) {
  .monopoly-credits {
    max-width: 100%;
    align-items: center;
    margin: auto;
  }
  input {
    width: 90%;
  }
  img {
    margin: auto; 
    align-items: center;
  }
  .disclaimer {
    max-width: 100%;
    margin: 10px auto;
  }
  button#clear-button {
    margin-left: 43%;
  }
}

/* Adjust font size for smaller screens */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  .result {
    font-size: 16px;
  }
  .disclaimer {
    font-size: 12px;
  }
}

/* Make the footer responsive */
