body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}
.monopoly-credits {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

.conversion {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.result {
  text-align: center;
  font-size: 18px;
}

#converted-amount {
  font-weight: bold;
}
